BasedOnStyle: Google 
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
Language: Cpp
SortIncludes: false 
CompactNamespaces: true
NamespaceIndentation: All
AllowAllConstructorInitializersOnNextLine: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
DerivePointerAlignment: true
PointerAlignment: Left
SpaceBeforeInheritanceColon: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right